/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.about-slider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.about-slider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { display: block; text-align: center; margin:0 auto; }
.about-slider .slides img { display: block; text-align: center; margin:0 auto; }
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 60px;   position: relative;   zoom: 1;}
.about-slider {margin: 0 0 60px;   position: relative;   zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
.about-slider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */


.flex-direction-nav a {
    width: 30px;
    height: 50px;
    background-color: #000;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 50%;
    display: block;
    cursor: pointer;
    text-indent: -99999px;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.flex-direction-nav a:hover {
    background-color: rgba(0,0,0,0.9);
}

.flex-direction-nav .flex-next {
    right: 10%;
    background-image: url(../img/right_arrow.png);
    background-repeat: no-repeat;
    background-position: 53% 50%;
    position: absolute;
    z-index: 9999999;
}

.flex-direction-nav .flex-prev {
    left: 10%;
    background-image: url(../img/left_arrow.png);
    background-repeat: no-repeat;
    background-position: 47% 50%;
    position: absolute;
    z-index: 9999999;
}

.flexslider:hover .flex-next {
    opacity: 1;
    right: 0;
}

.flexslider:hover .flex-prev {
    opacity: 1;
    left: 0;
}

.flex-direction-nav .disabled {
    opacity: .3 !important;
    filter: alpha(opacity=30);
    cursor: default;
}


/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 5px; height: 5px; background: #cbcbcb;  display: block;  cursor: pointer; text-indent: -9999px; 
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
.flex-control-paging li a.flex-active { background:none; height: 7px; width: 7px; border: solid 1px #41d6ea; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {/*
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}*/
}


#home .flex-control-paging {display: none;}
#home-animated .flex-control-paging {display: none;}
#blog .flex-control-paging {display: none;}
#home .flex-direction-nav .flex-next {
    right: 6%;
    background-image: url(../img/big-right-arrow.png);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 9999999;
    top:26%;
}
#home .flex-direction-nav .flex-prev {
    left: 6%;
    background-image: url(../img/big-left-arrow.png);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 9999999;
    top:26%;
}

#home .flex-direction-nav a {background: none;}

#home-animated .flex-direction-nav .flex-next {
    right: 6%;
    background-image: url(../img/big-right-arrow.png);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 9999999;
    top:26%;
}
#home-animated .flex-direction-nav .flex-prev {
    left: 6%;
    background-image: url(../img/big-left-arrow.png);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 9999999;
    top:26%;
}

#home-animated .flex-direction-nav a {background: none;}

.twitter .flex-direction-nav .flex-next {
    right: 2%;
    background-image: url(../img/big-right-arrow.png);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 9999999;
    top:26%;
}
.twitter .flex-direction-nav .flex-prev {
    left: 2%;
    background-image: url(../img/big-left-arrow.png);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 9999999;
    top:26%;
}

.twitter .flex-direction-nav a {background: none;}

.customer-comment-slider .flex-control-nav{margin-left: -65px;}











