body{
	font-family: BreuerText;
	margin-top: 230px;
}


@font-face { font-family: BreuerText; font-weight: normal; src: url(../fonts/BreuerText-Regular.otf) format("truetype"); }
@font-face { font-family: BreuerText; font-weight: bold; src: url(../fonts/BreuerText-Bd.otf) format("truetype"); }
@font-face { font-family: BreuerText; font-weight: lighter; src: url(../fonts/BreuerText-Light.ttf) format("truetype"); }
@font-face {
    font-family: 'BreuerText';
    src: url(../fonts/BreuerText-Regular.ttf);
}

@font-face {
  font-family: 'BreuerText-Bold';
  src: url('fonts/BreuerText-Bd.otf') format('embedded-opentype');
  font-weight: bold;
  font-style: bold;
}


@font-face {
  font-family: 'BreuerText-Light';
  src: url('../fonts/BreuerText-Light.ttf') format('embedded-opentype');
  font-weight: light;
  font-style: light;
}
.tablaoscura2 h1{
        font-family: BreuerText !important;
    color: #fff !important;
    font-size: 30px !important;
     padding: 0 0 10px 0;
    margin: 0 ;}


.tablaoscura2 h2{
    color: rgb(0,0,0) !important;
    font-size: 18px !important;
    font-variant: normal !important;
    text-transform: uppercase;
    padding: 0 0 12px 0;
    margin: 0;

}

.uno{
    background-color: #83C7EB !important;
    border-radius: 10px;
}
.dos{
    background-color: #C0381D !important;
    border-radius: 10px;
}
.tres{
    background-color: #B34C90 !important;
    border-radius: 10px;
}
.cuatro{
    background-color: #5366A5 !important;
    border-radius: 10px;
}
.carousel h1 {
    color: #ffffff !important;
}

form p{
    color:#BA4C2E;
    font-weight: bold;
    margin-top: 10px;
}
tr.tablenopadding{
    padding: 0 !important;
}
.tablaoscura1{
    background-color: #5366A5;
    color: #fff !important;
}
.tablaoscura1 h2{
    color: #ffffff !important;
    font-size: 18px;
}
.tablaoscura2{
    color: #ffffff !important;
}
.tablaoscura4 h2{
    color: #5366A5 !important;
    font-size: 18px;
}
.tablaoscura5{
    background-color: #8ab869;
    font-size: 25px;
    text-align: center;
}
.tablaoscura5 h2{
    color: #ffffff !important;
}
.tablaoscura5 p{
    font-size: 18px;
}


.nav-dos{
	   background:  rgba(234, 243, 242, 0.92) !important;
    margin-bottom: 0;
    margin-top: 7px;
}

.nav-dos li a{
	color: #000000 !important;
    padding-left: 40px !important;
}

.nav-dos .btn-danger{
    margin-top: 3px;
    float: right !important;
}

.nav-uno{
	background: #5b5b5e;
	
	
	margin-top: 53px;
}

.header-img{
	background-image: url(../images/banner2.jpg);
	background-repeat: no-repeat;
}

.col-cadastre{
    height: 400px;
}


.cadastre-btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.enviar-btn{
    float: right !important;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    background-color: #fed136;
}

.btn-xl .badge {
    color: #fed136;
    background-color: #fff;
}

.navbar-default {
    border-color: transparent;
    background-color: #222;
}


.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    background-color: #3666AE;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #3666AE;
}

.navbar-default .nav li a {   
    color: #fff;
    padding: 10px;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #3666AE;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}

footer{
	background: #C0381D;
    color: #ffffff;
    margin-top: 40px;
    padding: 25px 0px;
    text-align: center;
}

.bg-footer{
    text-align: center;
    padding: 5px;
    font-family: arial;
}

.bg-footer{
    font-size: 0.7em !important;
}

footer a{
    color: #ffffff;
    text-decoration: none;
}

footer p {
    font-size: 0.9em !important;
}

.col1, .col2, .col3, .col4 {
    height: 150px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    font-size: 0.5em;
    text-decoration: none;
    color: #ffffff;
    font-size: 2em;
    background-image: url(../images/cajas.png);
    background-repeat: no-repeat;
    background-position: center;
}

.col1{
    background-color: #5366A5;
}

.col2{
    background-color: #B34C90;
}

.col3{
    background-color: #88B874;
}

.col4{
    background-color: #83C7EB;
}
.col-md-3 a:hover{
    text-decoration: none !important;
}
.col-md-3 article:hover{
    -webkit-transform: scale(1.05) ;
    transform: scale(1.05);
    transition: all .4s ease-in-out

}

.carousel{
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	padding: 0 !important;
	min-height: 401px;
	padding: 20px;
	margin-right: -15px;
    box-sizing:border-box;
}


.carousel h1{
    margin: 20px 11px !important;
}

article span{
    
    color: #fff02d;
    font-size: 1.2em;
   -webkit-transform: rotate(357deg);
-moz-transform: rotate(357deg);
-o-transform: rotate(357deg);
writing-mode: lr-tb;
}
.bxslider li img{
    height: 100px;
    margin-bottom: 12px;
}
.carruselProductos{
    margin-bottom: 25px;
}
.nav-icono1{
    background-image: url(../images/nav-icono1.png);
    background-repeat: no-repeat;
    background-position: left;
}

.nav-icono2{
    background-image: url(../images/nav-icono2.png);
    background-repeat: no-repeat;
    background-position: left;
}

.nav-icono3{
    background-image: url(../images/nav-icono3.png);
    background-repeat: no-repeat;
    background-position: left;
}

.col-cadastre h1{
    font-size: 34px !important;
    padding: 12px;
    display: block;
    background: #BA4C2E;
    color: #fff !important;
       border-radius: 12px 12px 0px 0;
    -webkit-border-radius: 12px 12px 0px 0;
    -moz-border-radius: 12px 12px 0px 0;
    margin: 0;
}

.col-cadastre h3{
    color: #5366A5 !important;
    font-size: 20px;
     border: 0 !important;
     font-weight: normal;
     font-family: arial;
}

.col-cadastre span{
    font-size: 15px !important;
}

.slider-home h3{
    color: #ffffff !important;
    font-size: 20px !important;
     border: 0 !important;
     font-weight: normal;
     font-family: arial;
}

.slider-home h1{
    line-height: 0.9em !important;
}

.center{
    margin: 0 auto;
    display: block;
    margin-bottom: 12px;
    text-align: center;
}

.marco-rojo{
    text-align: center;
    color: #BA4C2E !important;
    padding: 18px;
    border: solid 1px #BA4C2E;
}

article.iconos{
    margin-bottom: 12px;
    text-align: center;
}

.rojo-tr{
    background: #BA4C2E !important;
    color: #ffffff !important;
}

.azul{
 color: #5366A5;

}
.rosa{
 color: #B34C90;

}
.celeste{
 color: #83C7EB;

}
.verde{
    color: #88B874;

}

.voce-saiba{
    background: rgb(255,255,255);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    padding: 0 !important;
    margin-bottom: 30px;
}

.voce-saiba h1{
    font-size: 3em;
    padding: 12px;
    display: block;
    background: #BA4C2E;
    padding-left: 30px;
    color: #fff !important;
       border-radius: 12px 12px 0px 0;
    -webkit-border-radius: 12px 12px 0px 0;
    -moz-border-radius: 12px 12px 0px 0;
    margin: 0;
}
h4.destaque{
    font-weight: bold;
    color: #88B874;
    padding-bottom: 0!important;
}

.voce-saiba h1 span{
    font-size: 0.6em !important;
    display: block;
    background: #BA4C2E;
}

.voce-saiba h2{
    margin: 16px 0px 30px 30px;
}

.voce-saiba li{
    font-size: 1.2em;
}

.voce-saiba img{
    margin: 0px 0px 10px 35px;
}

.globo{
    position: absolute;
    top: 2px;
    right: 25px;
}

.destacado01{
    text-align: center;
}

.destacado01 h3{
    font-weight: lighter;
    color: #BA4C2E;
    clear: both;
    border: 0 !important;
    margin: 30px 0px !important;
    font-size: 1.3em !important;
 
}
.sinpadding {
    padding: 0 !important;
}
.fondo
 {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    padding: 15px;
    margin-bottom: 30px;
    background-color: rgba(234, 243, 242, 0.92);
    
}
.fondoRojo
 {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    padding: 15px;
    margin-bottom: 30px;
    background-color: #d9534f;
    
}
.fondoRojo h2
 {
  color:#fff !important;
  
    
}
.fondoRojo h3
 {
  color:#fff !important;
  border-left: solid 8px #fff !important;
  
    
}

.tablaoscura2
 {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    padding: 15px;
    margin-bottom: 30px;
    background-color: #999 !important;
    overflow: hidden;
    
}
.padding-right{
    padding-right: 20px
}

.novidades-boxes1{
    background-image: url(../images/sobrekingston_box1.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.novidades-boxes2{
    background-image: url(../images/sobrekingston.png);
    background-repeat: no-repeat;
    background-position: top right;
}


.novidades-boxes3b{
    background-image: url(../images/novidades_box1b.png);
    background-repeat: no-repeat;
    background-position: top right;
     
}

.novidades-boxes4{

    background-image: url(../images/hyperXDivisao.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.novidades-boxes5{
    
    background-image: url(../images/vts1.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.novidades-boxes5b{
    
    background-image: url(../images/vts2.png);
    background-repeat: no-repeat;
    background-position: top right;
    

}
.novidades-boxes6{
    background-image: url(../images/CESlogo.png);
    background-repeat: no-repeat;
    background-position: top right;
    

}
.novidades-boxes7{
    
    background-image: url(../images/hyperx_box1.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.novidades-boxes h1{
    font-size: 3em;
    display: block;
    background: #BA4C2E;
    padding-left: 30px;
    color: #fff !important;
       border-radius: 12px 12px 0px 0;
    -webkit-border-radius: 12px 12px 0px 0;
    -moz-border-radius: 12px 12px 0px 0;
    margin: 0;
}


h3{
    color:#88B874;
    font-weight: bold;
    display: block;
    border-left: 8px #88B874 solid;
    padding-left: 12px;
}
h3.rojo{
    color:#C21D38;
    font-weight: bold;
    display: block;
    border-left: 8px #C21D38 solid;
    padding-left: 12px;
}
#boxes article{
    display: block;
     border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    color: #ffffff;
    font-size: 20;
    padding: 12px;
    text-align: center !important;
    margin-bottom: 15px;
    min-height: 150px;
}
#boxes article h2{
    
    font-size: 28px !important;
    color: #FFF02D !important;
    text-align: center; !important;
}

#boxes .colegas{
    background-color: #5366A5;
    background-image: url(../images/invita-colegas.png);
    background-repeat: no-repeat;
    background-position: bottom;

}

.colegas span{
    font-size: 1.3em;
    font-weight: 600;
    line-height: 0.4;
    color: #fff;
    margin: 0;
}

#boxes a{
    color: #ffffff;
    text-decoration: none;
}


#boxes h4 {
    font-size: 20px;
    color: #ffffff;   
   
}

.box-celeste{
    background: #83C7EB;
}

.box-verde{
    background: #88B874;
}

.box-rosa{
    background: #B34C90;
}
.box-azul{
    background: #5366A5;
}

.slide-image1{
    background-image: url(../images/slide/01.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
